<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company info</title>
</head>
<body>
<h3 th:text="${company.shortName}"></h3>
<div th:text="${company.name} + '. Тип: ' + ${company.type.getType()} + '. Цифровой код: ' + ${company.digitalNumber}"></div>
<br/>
<form method="post" th:action="@{/company/delete}">
    <input type="text" name="id" th:value="${company.id}" hidden/>
    <input type="submit" value="Удалить предприятие"/>
</form>
<br/>
<a th:href="@{/}">Вернуться на главную страницу</a>
<br/><br/>
<a th:href="@{/company/add?parent={id}(id=${company.id})}">Создать отдел</a>
</body>
</html>