<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PC-info</title>
</head>
<body>
<h1>Предприятия</h1>
<div class="companies" th:each="company: ${companies}">
    <a th:href="@{/company/{id}(id=${company.id})}">
        <div th:text="${company.shortName} + ' (' + ${company.name} + ') '"></div>
    </a>
</div>
<br>
<h3><a th:href="@{/company/add}">Добавить новое предприятие</a></h3>
<br/><br/>
<a th:href="@{/admin}">Перейти в АДМИНКУ</a>
</body>
</html>
