<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update company</title>
</head>
<body>
<h1>Измените необходимые данные</h1>
<form method="post" th:action="@{/company/update}" th:object="${company}">
    <input type="text" th:field="*{id}" hidden/>
    <label name="parentId">Родительское предприятие: </label>
    <select name="parentId" th:field="*{parentId}">
        <option th:each="company : ${companies}"
                th:text="${company.shortName}"
                th:value="${company.id}"></option>
    </select><br/><br/>
    <label name="shortname">Краткое название: </label>
    <input type="text" name="shortname" th:field="*{shortName}"/>
    <div style="color:red" th:if="${#fields.hasErrors('shortName')}"
         th:errors="*{shortName}">Ошибка краткого названия</div><br/><br/>
    <label name="name">Название: </label>
    <input type="text" name="name" th:field="*{name}"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}">Ошибка названия</div><br/><br/>
    <label name="digital-number">Цифровой номер: </label>
    <input type="text" name="digital-number" th:field="*{digitalNumber}"/>
    <div style="color:red" th:if="${#fields.hasErrors('digitalNumber')}"
         th:errors="*{digitalNumber}">Ошибка цифрового номера</div><br/><br/>
    <label name="type">Тип предприятия: </label>
    <select name="type" th:field="*{type}">
        <option th:each="companyType : ${companyTypes}"
                th:text="${companyType.type}"
                th:value="${companyType.id}">
    </select><br/><br/>

    <input type="submit" value="Изменить данные"/>
    <br/><br/>
    <a th:href="@{/company/{id}(id=${company.id})}">Вернуться назад</a>

</form>

</body>
</html>